{{define "index/home"}}
{{template "layout/header" .}}

    <!-- CSS Dependencies -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Script: Make my navbar transparent when the document is scrolled to top -->
    <script src="static/js/navbar-ontop.js"></script>
    
    <!-- Script: Animated entrance -->
    <script src="static/js/animate-in.js"></script>

{{template "layout/body-header" .}}
    
    {{template "common/navbar" .}}

    <!-- Cover -->
    <div class="pt-5 bg-primary section-dark-opaque bg-gradient">
      <div class="container mt-5 pt-5">
        <div class="row">
          <div class="col-md-6 my-5 text-lg-left text-center align-self-center">
            <h1 class="display-1">Songme</h1>
            <p class="lead">Your daily must be listened song recommender.</p>
            <div class="row mt-5">
              <div class="col-6 col-lg-4">
                <a class="btn btn-secondary d-block shadowed" href="#subscribe">Subscribe</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid d-block mx-auto" src="static/img/iphone_cover_light.png" width="400"> </div>
        </div>
      </div>
    </div>

    <!-- Subscribe-->
    <div class="py-5 bg-light" id="subscribe">
      <div class="text-center container py-3">
        <div class="row my-3">
          <div class="col-md-12">
            <h3 class="display-3 mb-3">Discover</h3>
            <p class="lead">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. adasdasdjas kasjdjhas adkshkd ashkj dahjkshkd askhj kasdhkj ahjks ashkd ashkj ahjksd ashjk hadsd ashjk haksh dashjkdakhsj</p>
          </div>
        </div>
        <div class="row my-3 py-3">
          <div class="col-md-12 ">
            <form class="mx-auto col-md-9" action="/signup" method="POST">
              <div class="row mb-4">
                <div class="col-md-6">
                  <input type="text" class="form-control form-control-lg" placeholder="Your Name" name="name" id="name" required> </div>
                <div class="col-md-6">
                  <input type="email" class="form-control form-control-lg" placeholder="Your Email" name="email" id="email" required> </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="submit" class="btn btn-block btn-secondary">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {{template "common/footer" .}}
    
{{template "layout/body-footer" .}}

{{template "layout/footer" .}}
{{end}}