{{define "index/home"}}
{{template "layout/header" .}}

{{template "layout/body-header" .}}
    
    {{template "common/navbar" .}}

    <div class="bg-light pad-150">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-lg-right text-center">
                <h4 class="display-4">Stairway to Heaven</h4>
                <h5>Led Zeppelin</h5>
                <p class="lead">
                  The song begins in a slow tempo with acoustic instruments. 
                  The final section is highlighted by Page's intricate guitar solo accompanying Plant's vocals that end with the plaintive 
                  a cappella line: "And she's buying a stairway to heaven."
                </p>
              </div>
              <div class="col-lg-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cwFQpRTwaP0" allowfullscreen=""></iframe>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-lg-6 text-lg-right text-center">
                <button class="btn mt-4 px-5 bg-dblue">MORE </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {{template "common/footer" .}}
    
{{template "layout/body-footer" .}}

{{template "layout/footer" .}}
{{end}}