{{define "index/home"}}
{{template "layout/header" .}}

{{template "layout/body-header" .}}
    
    {{template "common/navbar" .}}

    <div class="bg-slight pad-150">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-lg-right text-center">
                <h4 class="display-4">{{.Song.Title}}</h4>
                <h5>{{.Song.Author}}</h5>
                <p class="lead">
                  {{.Song.Description}}
                </p>
              </div>
              <div class="col-lg-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <a href="{{.Song.SongURL}}" class="embed-link"></a>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-lg-6 text-lg-right text-center">
                <button class="btn mt-4 px-5 bg-sdblue" id="button-more">MORE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {{template "common/footer" .}}
    
{{template "layout/body-footer" .}}

    <script src="/static/js/songme.js"></script>
    <script>
      $('#button-more').click(function() {
        location.reload();
      });
    </script>

{{template "layout/footer" .}}
{{end}}