/* BG Colors */
.bg-sgreen {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
}

.bg-sdblue { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-slight { 
    background-color: #f3f3f3;
    color: #555555;
}

/* NAVBAR */
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 11px;
    letter-spacing: 3px;
}

.navbar-brand {
    font-size: 16px;
}

.navbar-nav li a:hover {
    color: #4fc3f7 !important;
}

/* MARGIN & PADDING */
.form-group {
    margin-bottom: 1.5em;
}

.pad-150 {
    padding-top: 150px;
    padding-bottom: 150px;
}