{{define "error/page"}}
<!DOCTYPE HTML>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- PAGE settings -->
    <title>Songme - Oops</title>
    <meta name="description" content="Your must be listened song recommender.">
    <meta name="keywords" content="Songme song recommendation discover app golang go webapp">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <!-- Disable scrolling -->
    <style>
        html {
            height: 100%;
        }
        body {
            overflow: hidden;
            height: 100%;
        }
    </style>

</head>

<body>
    <div class="jumbotron h-100 text-center">
        <div class="container">
            <div class="row my-3">
                <div class="col">
                    <h4 class="display-4">Oops! Something went wrong.</h4>
                    <p class="mb-4 lead">Please follow the link below.</p>
                    <img src="static/img/notfound.svg" alt="" width="260"> 
                </div>
            </div>
            <div class="row my-5">
                <div class="col-4 mx-auto">
                    <a href="/" class="btn btn-info btn-sm w-50">Home</a>
                </div>
            </div>
        </div>
        <footer class="fixed-bottom">
            <span class="small">Icon made by
            <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </span>
        </footer>
    </div>
</body>

</html>
{{end}}