{{define "common/pagination"}}
    <div class="container">

        {{with .}}
            {{if gt .TotalPages 1}}

                <div class="row justify-content-center">
                    
                        <div class="col-lg-6 text-center">
                            <div>
                                <ul class="pagination justify-content-center">
                                    <li class="page-item {{if eq .Page 1}}disabled{{end}}">
                                        <a class="page-link" href="{{if eq .Page 2}} /{{.Base}} {{else if not (eq .Page 1)}} /{{.Base}}/page/{{sub .Page 1}} {{end}}">&laquo;</a>
                                    </li>

                                    {{range $i, $v := repeating .BarSize}}
                                        {{$curr := sum $.Start $i}}
                                        <li class="page-item {{if eq $curr $.Page}}active{{end}}">
                                          <a class="page-link" href="{{if eq $curr 1}} /{{$.Base}} {{else}} /{{$.Base}}/page/{{$curr}} {{end}}">{{$curr}}</a>
                                        </li>
                                    {{end}}

                                    <li class="page-item {{if eq .Page (sum .Start (sub .BarSize 1))}}disabled{{end}}">
                                        <a class="page-link" href="/{{.Base}}/page/{{sum .Page 1}}">&raquo;</a>
                                    </li>
                                </ul>
                            </div>
                       </div> <!-- col -->

                </div> <!-- row -->

            {{end}}
        {{end}} <!-- pagination -->

    </div> <!-- container-->
{{end}}