{{define "auth/signup"}}

{{template "base/header" .}}    
{{template "base/body-header" .}}


    <div class="container">
    
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5">
            
                <div class="jumbotron">
                  <h1 class="display-3">Sign Up</h1>
                  <hr class="my-4">
                
                  <form action="/signup" method="POST">
                    <fieldset>
                    
                      <div class="form-group has-danger">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control {{if .Error.email}}is-invalid{{end}}" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" value="{{.Form.email}}">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            {{with .Error.email}}
                            <div class="invalid-feedback">{{.}}</div>
                            {{end}}
                      </div>
                    
                      <div class="form-group has-danger">
                            <label for="username">Username</label>
                            <input type="text" class="form-control {{if .Error.username}}is-invalid{{end}}" id="username" name="username" placeholder="Username" value="{{.Form.username}}">
                            {{with .Error.username}}
                            <div class="invalid-feedback">{{.}}</div>
                            {{end}}
                      </div>
                    
                      <div class="form-group has-danger">
                            <label for="password">Password</label>
                            <input type="password" class="form-control {{if .Error.password}}is-invalid{{end}}" id="password" name="password" placeholder="Password">
                            {{with .Error.password}}
                            <div class="invalid-feedback">{{.}}</div>
                            {{end}}
                      </div>
                    
                      <div class="form-group has-danger">
                            <label for="password2">Confirm Password</label>
                            <input type="password" class="form-control {{if .Error.password2}}is-invalid{{end}}" id="password2" name="password2" placeholder="Password">
                            {{with .Error.password2}}
                            <div class="invalid-feedback">{{.}}</div>
                            {{end}}
                      </div>
                    
                      <button type="submit" class="btn btn-primary">Sign Up</button>
                    </fieldset>
                  </form>
                  
                </div>

            
            </div>
        </div>
        
    </div>


{{template "base/body-footer" .}}
{{template "base/footer" .}}

{{end}}